<table class="table table-sm table-hover">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>
    <tr *ngFor="let caregiver of caregiverService.caregiverList">
      <td>{{caregiver.CaregiverID}}</td>
      <td>{{caregiver.Name}}</td>
      <td>{{caregiver.BirthDate | date : 'dd/MM/yyyy'}}</td>
      <td>{{caregiver.Gender == 0 ? 'M' : 'F'}}</td>
      <td>{{caregiver.Address}}</td>
      <td>
        <a class="btn" (click)="showForEdit(caregiver)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn text-danger" (click)="onDelete(caregiver.CaregiverID)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
  </table>