<div style="text-align:center">
    <h2 class=" bg-secondary text-white" style="padding: 20px; width:350px;border-radius:6px">Medications:</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <app-medication-list></app-medication-list>
    </div>
    <div class="col-md-6">
        <app-medication></app-medication>
    </div> 
</div>