<table class="table table-sm table-hover">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>
    <tr *ngFor="let patient of patientService.patientList">
      <td>{{patient.PatientID}}</td>
      <td>{{patient.Name}}</td>
      <td>{{patient.BirthDate | date : 'dd/MM/yyyy'}}</td>
      <td>{{patient.Gender == 0 ? 'M' : 'F'}}</td>
      <td>{{patient.Address}}</td>
      <td>
        <a class="btn" (click)="showForEdit(patient)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn text-danger" (click)="onDelete(patient.PatientID)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
  </table>